*{
    padding: 0;
    margin: 0;
}
body {
    background: url("../images/background-image.jpg") no-repeat fixed;
    background-size: cover;
    
}
#all-content {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
#taking-name {
    position: absolute;
}
#name-input {
    font-size: 16px;
    padding: 9px;
    text-transform: capitalize;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: rgba(211, 211, 211, .9);
    width: 350px;
}
#search{
    position: relative;
    border: none;
    background: rgb(38, 175, 190);
    padding: 8px 30px;
    color: #fff;
    font-size: 19px;
    border-radius: 0 10px 10px 0;
    left: -7px;
}
#search:hover {
    background-color: rgb(4, 135, 150);
    cursor: pointer;
}
#user-information {
    margin: 50px 0px;
}
#matching-name-lists {
    list-style-type: none;
    color: rgb(23, 22, 22);
    font-size: 30px;
    font-weight: 800;  
}
#matching-name-lists li {
    margin: 7px 0px;
}
.full-info {
    font-size: 15px;
    padding: 7px 15px;
    border: none;
    border-radius: 8px;
    background-color: aquamarine;
    color: gray;
    margin-left: 5px;
}
.full-info:hover {
    background: rgb(40, 196, 144);
    cursor: pointer;
}
.id {
    display: none;
}
.info-content {
    margin-top: 20px;
    color: rgb(72, 4, 136);
    font-size: 20px;
    background: rgba(128, 128, 128, .5);
    padding: 20px 30px;
    border-radius: 15px;
    display: none;
}

.info-content p {
    margin: 10px 0px;
}
.hide-btn {
    background: rgb(201, 139, 25);
    color: #fff;
   margin-left: 80px;
}
.hide-btn:hover {
    background: rgb(160, 105, 1);
}